* {

  font-family: 'Slabo 27px', serif;
  text-align: center;
}
#encabezado{
  font-size: 3em;
  font-family: 'Gafata', sans-serif;
}
#encabezado1{
  font-size: 3em;
}
#jumbo{
  border-style: solid;
}
#ganadores{
  filter: grayscale(100%); 
}
.foto{
  float:left;

  margin: 1em;
  width: 100%;
  box-sizing: border-box;
}
.fotoP{
  box-sizing: border-box;
  border-style: solid;
  width: 120%;
  border-left: 0em;
  margin-left: -5px;
}
.boton{
  background-color: white !important;
  border-style: solid !important;
}

/*.col-md-1{
  border-style: solid;
}*/
/**.col-md-3{
  border-style: solid;
}*/
/*.row{
    border-style: solid;
}/*/
