* {

  font-family: 'Slabo 27px', serif;
  text-align: center;
}
#encabezado{
  font-size: 3em;
  font-family: 'Gafata', sans-serif;
}
#encabezado1{
  font-size: 3em;
}
#jumbo{
  border-style: solid;
}
.foto{
  float:left;

  margin: 1em;
  width: 90%;
  box-sizing: border-box;
}
.boton{
  background-color: white !important;
  border-style: solid !important;
}

/*.col-md-1{
  border-style: solid;
}*/
/**.col-md-3{
  border-style: solid;
}*/
/*.row{
    border-style: solid;
}/*/
